In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
data=pd.read_csv('dataset w7.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [3]:
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

# 1. Descriptive Analytics of the given data

In [4]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. To check whether female and male students scored the same marks

In [5]:
data_male=data.loc[data['Gender']=='male']
data_female=data.loc[data['Gender']=='female']

### Hypothesis
null_hypothesis: marks scored by male and female students are NOT same.

alternative_hypothesis: marks scored by male and female students are same.

In [6]:
#degrees of freedom:
df = (len(data_male)-1)+(len(data_female)-1)
df

26

Level of significance = 5% = 0.05

In [7]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=df)
t_critic

2.055529438642871

In [8]:
# test statistics
ttest,pval = stats.ttest_ind(data_male['Total Marks'], data_female['Total Marks'])
ttest,pval

(-0.6940885268848668, 0.4937822317960763)

In [9]:
if (abs(ttest)>t_critic)&(pval<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are accepting null hypothesis

### Inference:
The marks scored by male and female are NOT same

# 3. Whether test preparation helps the students?

In [10]:
data_tp=data.loc[data['Test preparation']=='completed']
data_ntp=data.loc[data['Test preparation']=='none']

### Hypothesis
null_hypothesis: Test preparation does not help students. Mean score of students who completed and not completed test preparation are equal

alternative_hypothesis: Test preparation do help students. Mean score of students who completed and not completed test preparation are not equal

In [11]:
#degrees of freedom:
df = (len(data_tp)-1)+(len(data_ntp)-1)
df

26

Level of significance = 5% = 0.05

In [12]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=df)
t_critic

2.055529438642871

In [13]:
# test statistics
ttest1,pval1 = stats.ttest_ind(data_tp['Total Marks'], data_ntp['Total Marks'])
ttest1,pval1

(3.6143637527769217, 0.0012671292457320106)

In [14]:
if (abs(ttest1)>t_critic)&(pval1<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

We are rejecting null hypothesis

### Inference :
Test preparation do help students